# IBM Quantum Token
IBM_TOKEN="your_ibm_quantum_token_here"

# D-Wave Token
DWAVE_TOKEN="your_dwave_token_here"

# Developer Secret to bypass Quota
DEVELOPER_SECRET="your_secret_password"

# Postgres Database connection string for quotas
DATABASE_URL="postgresql://user:pass@host:5432/db"
